<!DOCTYPE html>
<html>
<head>
	<title>Welcome to blog</title> 
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner ">
			<div class="container">
				<p class="navbar-text"></p>
				<ul class="nav pull-right">
					<li>
						<a href="/users/sign_in" >
							SignIn
						</a>
					</li>
					<li>
						<a href="/users/sign_up">
							SignUp
						</a>
					</li>		
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">

			<div class="span2 bs-docs-sidebar">
				<ul class="nav nav-list bs-docs-sidenav affix">
					<li>
						<a href="/">
							<i class="icon-chevron-right"></i>
							Home
						</a>
					</li>
					<li>
						<input type="text" placeholder="Search by tags" class="search-query input-small" name="q" value=""  />
						<input type="hidden" name="scope" id="search_scope" value="posts">
						<form action="#" class="navbar-search">
						</form>
					</li>
				</ul>
			</div>

			<div class="span10">
				<%= yield %>
			</div>
			
		</div>
	</div>
</body>
</html>
